:root {
    --article-background: #181E27;
    --primary-color: hsl(25, 97%, 53%);
    --header-color: hsl(0, 0%, 100%);
    --text-color: hsl(217, 12%, 63%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    background-color: var(--article-background);
    width: 25.75rem;
    height: 26rem;
    border-radius: 30px;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}